@font-face {
    font-family: 'faster-one';
    src: url('./font/fasterone-regular-webfont.woff2') format('woff2'),
         url('./font/fasterone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'merriweather_sans-regular';
    src: url('./font/merriweathersans-regular-webfont.woff2') format('woff2'),
         url('./font/merriweathersans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* css reset */

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    font-size: 14px;
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, svg {
    display: block;
    max-width: 100%;
  }

  input, button, a {
    font: inherit;
  }

  p {
    overflow-wrap: break-word;
    text-wrap: pretty;
  }

  input:-webkit-autofill {
    font-family: inherit;
    border: none;
    border-radius: .3rem;
    caret-color: var(--black-color); 
    color: var(--black-color);
    background: var(--black-color);
    -webkit-font-feature-settings: off;
    -webkit-text-fill-color: var(--black-color); 
    -webkit-background-clip: text; 
    box-shadow: 0 0 0 50px var(var(--black-color)) inset; 
    }

 :root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Segoe UI Symbol";
    --beige-color: #a98f7d;
    --brown-color: #7f5340;
    --black-color: #050505d7;
    --green-color: #3b6827;
    --white-color: #f5f5f5dd;
    --red-color: #e35c38;
    --lower-shadow: 0 0.4rem 0.2rem 0 rgba(0, 0, 0, 0.055);
    --logo-background: rgba(0, 0, 0, 0.34);
    --form-background: rgba(255, 255, 255, 0.998);
}
*{
    font-family: 'merriweather_sans-regular', var(--system-ui);
}
.container {
    display: flex;
    height: 120vh;
    width: 100%; 
}
.visuals-container, .content-container {
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
}

.visuals-container{
    position: relative;
    width: 500px;
    overflow: hidden;
}
.sidebar-pic{
    height: 120vh;
    object-fit: cover;
}
.logo-container{
    display: flex;
    justify-content: center;  
    align-items: center; 
    position: absolute;
    background-color: var(--logo-background);
    color: white;
    bottom: 6rem;
    padding: 3.5rem;
    width: 100%;
    gap: 40px;
}

.logo{
min-width: 4rem;
fill: var(--white-color);
width: 8rem;
}

.logo-text{
    font-size: 3rem;
    font-family: 'faster-one', var(--system-ui);
    color: var(--white-color);
    line-height: 1;
}

.credits{
    padding: 1rem;
    position: absolute;
    bottom: 0;
    color: var(--white-color);
    align-self: center;
    font-size: 0.8rem;
}

/* form side style */
.content-container{
    background-color: var(--white-color);
    color: var(--black-color);
    flex: 0 1 auto;
}

.content-container > div > p
{
    margin-top: 0.5rem; 
    margin-bottom: 0.5rem; 
}
.header > p:first-of-type{
    padding-right: 2rem;
}
.content-container > div > p,
.content-container > div.form-container > p
{
    font-size: 1.2rem;
}

.form-container > form > div.form-row{
    display: flex;
    flex: 0 ;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
    margin-top: 2rem; 
}

.form-container > p > span{
font-size: 0.7rem;
opacity: 0.7;
}

label{
    text-wrap: nowrap;
    width: fit-content;
    align-self: start;
    font-size: 0.8rem;
    padding-left: .5em;
    padding-right: .5em;
    position: absolute;
    transform: translate(.5rem, -45%);
    z-index: 1;
    background-color: var(--form-background);
}

input {
    display: flex;
    flex-shrink: 1;
    padding: 0.6rem;
    border: 1px solid black;
    border-radius: .3rem;
    font-family: inherit;
    width: 20rem;
}
.left-input, .right-input{
    display: flex;
    flex-direction: row;
}

.header, .form-container, .footer{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem 1.5rem; 
   
}
.header{
    padding: 2rem 1.5rem; 
    justify-content: end; 
}
.footer{
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1.5rem 2rem;  
}
 .form-container{
   background-color: var(--form-background);
   padding-bottom: 0.5rem;
   box-shadow: var(--lower-shadow);
 }

 form {
    display: flex;
    flex-direction: column;
 }

 .password-check-text{
    min-height: 2rem;
    margin-top: 0;
 }
 
#form > div.form-row:nth-last-of-type(2){
    margin-bottom: 0;
 }
 .password-check-text > span{
    color:var(--red-color);
    font-size: 0.7rem;
 }

 button{
    width: 14rem;
    background-color: var(--black-color);
    color: var(--beige-color);
    border: 1px solid var(--black-color);
    border-radius: 10px;
    padding: 0.7rem 0.9rem;
    margin-bottom: 1.4rem;
    transition: background-color .2s ease-in;
    box-shadow: var(--lower-shadow);
}

/* states */

span.italic{
    font-style: italic;
    font-size: inherit;
}

button:hover{
    cursor: pointer;
    opacity: 0.90;
}

button:focus{
    cursor: pointer;
    border: 1px solid var(--black-color);
    border-style: double;
}

button:active{
    opacity: 0.7;
}

a{
    text-decoration: none;
    color: var(--green-color);
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color: var(--brown-color);
}


/* focus */
input:focus:invalid {
    border: 2px solid var(--black-color) !important;
}


/* error */
input.error-input:invalid {
    border: 2px solid var(--red-color);
}

/* error */
input.error-input:invalid + span::after{
    position: absolute;
    content: "✖";
    padding-left: 5px;
    color: var(--red-color) !important;
}

input.error-input{
    border: 2px solid var(--red-color);
}


  /* valid */
input.valid-input:valid{
    border: 2px solid var(--green-color) !important;
}

input.valid-input{
    border: 2px solid var(--green-color) !important;
}

input.valid-input:valid + span::after{
    position: absolute;
    content: "✓";
    padding-left: 5px;
    color: var(--green-color);
  }

/* focus */
input:focus {
    border: 2px solid var(--black-color); 
}


